// Couleurs principales

$primaire: #9356DC;
$secondaire: #FF79DA;
$tertiaire: #99E2D0;

// Couleurs secondaires

$background-recherche: #EDEDED;
$background-main: #F6F6F6;
$background-footer: #383636;
$icon-color: #8C8C8C;
$vert-fonce: #299e81;
$vert-clair: #aaffea;

// Tailles de texte version tel

$font-little: 14px;
$font-medium: 18px;
$font-big: 27px;

$font-logo: 20px;
$font-numero: 16px;

$font-loader: 50px;

// Tailles de texte version tablette + desktop

$font-little-desktop: 16px;
$font-medium-desktop: 18px;
$font-big-desktop: 30px;

$font-logo-desktop: 26px;
$font-numero-desktop: 16px;

$font-loader-desktop: 70px;
